<div class="metadata-container">
  <form class="metadata-form">

    <h1 class="metadata-title">{{title}}</h1>

    <input type="text"
           name="metadata"
           [(ngModel)]="metadataForm"
           [class.metadata-error]="!metadataForm.length"
           placeholder="Link"
           autofocus />
    
      <button (click)="add(metadataForm)"
            [disabled]="!metadataForm.length">+</button>
  </form>

  <div class="metadata-list">
    <div *ngFor="let metadata of metadataDisplay;"
         class="metadata-item"
         (click)="remove(metadata);">
      <p>{{metadata}}</p>
    </div>
  </div>
</div>