<div class="article-container">
  <form class="article-form"
        (submit)="add(articleForm.article)">

    <h1 class="article-title">{{title}}</h1>

    <input type="text"
           name="article.title"
           [(ngModel)]="articleForm.title"
           [class.article-error]="!articleForm.title.length"
           placeholder="Title"
           autofocus />
    <textarea type="text"
           name="article.info"
           [(ngModel)]="articleForm.info"
           [class.article-error]="!articleForm.info.length"
           placeholder="Text"
    >
    </textarea>
    <label>Links</label>
    <div *ngFor="let md of articleForm.metadata">
      <label>{{md}}</label>
    </div>
    <metadata-cmp
      [metadatas]="articleForm.metadata"
      (newMetadata)="articleForm.metadata = $event"
    ></metadata-cmp>
    <category-cmp
      [category]="articleForm.category"
    ></category-cmp>
      <button type="submit"
            [disabled]="!articleForm.title.length">+</button>
  </form>

  <div class="article-list">
    <div *ngFor="let article of articles;"
         class="article-item"
         (click)="remove(article._id);">
      <p>{{title}}</p>
    </div>
  </div>
</div>