.metadata-container {
  font-family: "Roboto";
  position: relative;
  max-width: 400px;
  margin: 30px auto 0;
  padding: 20px 10px 10px 10px;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }

.metadata-container .metadata-title {
  padding: 5px;
  background-color: #fff;
  position: absolute;
  font-size: 15px;
  top: -45px;
  left: 0;
  color: steelblue; }

.metadata-container .metadata-form {
  margin-top: 20px; }

.metadata-container input {
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 17px;
  padding: 5px 3px;
  width: 90%;
  box-sizing: border-box; }

.metadata-container input:focus {
  outline: 0; }

.metadata-container button {
  border-radius: 100%;
  padding: 10px 14px;
  font-weight: bold;
  color: #fff;
  background-color: steelblue;
  cursor: pointer;
  border: 2px solid #ddd;
  font-size: 15px;
  transition: all .2s; }

.metadata-container button:focus,
.metadata-container button:active {
  outline: none; }

.metadata-container button:disabled {
  opacity: .7;
  color: steelblue;
  background-color: #fff;
  cursor: not-allowed; }

.metadata-container .metadata-error {
  border-bottom-color: #E22323; }

.metadata-container .metadata-item {
  padding: 3px;
  border-bottom: 1px solid #ddd;
  cursor: pointer; }

.metadata-container .metadata-item:hover {
  background-color: #f1f2f3; }
