<div class="main-container container">
  <h1 class="main-title">{{title}}</h1>
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-secundary" id="dropdownManual" ngbDropdownToggle>{{pageForm.route? pageForm.route.label:'Choose a route'}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button *ngFor="let route of routes" class="dropdown-item" 
            (click)="pageForm.route=route">
            {{route.label}}
          </button>
          <span *ngIf="routes.length == 0">-No route added yet...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-md-12">
    <textarea type="text"
          name="page.pageContent"
          [(ngModel)]="pageForm.pageContent"
          [class.page-error]="!pageForm.pageContent.length"
          placeholder="html content"
    >
    </textarea>
  </div>   
  <route-cmp
    [route]="pageForm.route"
    (newRoute)="pageForm.route = $event"
  ></route-cmp>
  <component-cmp
    [component]="pageForm.component"
    (newComponent)="pageForm.component = $event"
  ></component-cmp>
  <button class="round"
  (click)="this.id == 'new'?add(pageForm):update(pageForm)"
  [disabled]="!validateData(pageForm)">+</button>

  <div class="page-list" *ngIf="validateData(page)">
    <div  class="page-item list-item col-md-6"
         (click)="remove(page._id);">
      <list-item-delete
        [item]="page.title">
      </list-item-delete>
    </div>
  </div>
</div>