<div class="main-container">
  <form class="main-form">

    <h1 class="main-title">{{title}}</h1>
    <div class="container">
      <div class="row">
        <div class="container-block col-md-12">              
          <input type="text"
                name="label"
                [(ngModel)]="categoryForm.label"
                [class.category-error]="categoryForm.label && !categoryForm.label.length"
                placeholder="label"
                autofocus />
          <input type="text"
                name="level"
                [(ngModel)]="categoryForm.level"
                [class.category-error]="categoryForm.level && !categoryForm.level.length"
                placeholder="level"
                autofocus />
          <input type="text"
                name="value"
                [(ngModel)]="categoryForm.value"
                [class.category-error]="categoryForm.value && !categoryForm.value.length"
                placeholder="value"
                autofocus />
        </div>
        <div class="col-md-2">
          <button class="round" (click)="add(categoryForm)"
            [disabled]="!categoryForm">+</button>
          <span *ngIf="category-error">{{category-error}}</span>
        </div>
      </div>
    </div>
  </form>
  <div *ngFor="let category of categoryDisplay;"
      class="category-item list-item col-md-6"
      (click)="remove(category);">
    <list-item-delete
      [item]="category.label">
    </list-item-delete>
  </div>

</div>